---
import Layout from "../../layouts/Layout.astro";
import Modal from "@components/modal.jsx";
import Sectionhead from "@components/sectionhead.astro";
// import { Youtube } from "react-icons/fa";
import { Youtube, Google, Twitter, GoogleCalendar, Notion, Trello, Asana, Slack, Jira, Github, Basecamp, Jenkins, GoogleAnalytics, GoogleForms } from "../../assets/logos";

export async function getStaticPaths() {
  const pages = [
    {
      step: "Informar",
      title: "Informar",
      text: "Durante este proceso se recopila toda la información necesaria para abarcar el tema o problema en cuestión. El planteamiento de las tareas debe darse con forme a la experiencia que ya tienen los aprendices. Es necesario romper el individualismo y hacer un trabajo de colaboración en busca de soluciones al problemática planteada.",
      tools: [{photo:Youtube, link:"youtube.com"}, {photo:Google, link:"google.com"}, {photo:Twitter, link:"twitter.com"},],
      examples: [
        {
          title: "Viajar a Alemania",
          description:
            "Debe informarse sobre los posible lugares a visitar, que tan transitados son y el porque visitarlos.",
        },
        {
          title: "Construir una mesa",
          description:
            "Buscar las medidas estándar para construir una mesa, de la forma más sencilla y eficaz.",
        },
      ],
    },
    {
      step: "Planificar",
      title: "Planificar",
      text: "En esta fase se elabora el plan de trabajo, la estructura y los instrumentos y medios de trabajo. La elaboración de un plan no certifica su realización, por lo que es necesario entender que esta etapa puede no concluir del todo. Puntos a definir:Todos los miembros del grupo participan de forma conjunta en la elaboración del producto. Se forman diferentes grupos de trabajo para cada una de las piezas del producto",
      tools: [{photo:GoogleCalendar, link:"calendar.google.com"}, {photo:Notion, link:"notion.so"},],
      examples: [
        {
          title: "Desarrollar una aplicación web",
          description:
            "Hacer un calendario con las fechas esperadas para realizar cada parte del proyecto y para cuando debo tener listos ciertos componentes.",
        },
        {
          title: "Viajar a Estados Unidos",
          description:
            "Realizar una lista de actividades para hacer en estados unidos y qué días hacerlo.",
        },
      ],
    },
    {
      step: "Decidir",
      title: "Decidir",
      text: "Antes de pasar a la fase de realización de lo práctico existen ciertas decisiones que son necesarias realizar para el buen funcionamiento del grupo tales como posibles estrategias.Una de las habilidades que más se desarrollan en esta fase es la negociación para tomar la decisión que más adecuada parezca sin tomar en cuenta beneficios personales.",
      tools: [{photo:Trello, link:"trello.com"}, {photo:Asana, link:"asana.com"}],
      examples: [
        {
          title: "Cocinar pasta",
          description:
            "Aquí se debe ver que tipo de pasta se va hacer y cuál receta. Escoger la receta que más se adecúe a mi experiencia.",
        },
        {
          title: "Hacer una silla",
          description:
            "Escoger los materiales, si se plantea utilizar madera entonces escoger las medidas. ",
        },
      ],
    },
    {
      step: "Ejecutar",
      title: "Ejecutar",
      text: "Durante esta etapa es esencial la acción experiencial e investigadora pasa a ocupar un lugar prioritario. Se ejercita y analiza la acción creativa, autónoma y responsable. Aquí se empieza a notar que tan efectivas y realistas fueron las primeras tres fases, se da retroalimentación tanto individual como grupal para poder seguir mejorando durante esta fase. Aquí es esencial la realización autónoma del trabajo, sin dejar de lado que los alumnos no se deben sentir solos.",
      tools: [{photo:Slack, link:"slack.com"}, {photo:Jira, link:"atlassian.com"}, {photo:Github, link:"github.com"}],
      examples: [
        {
          title: "Hacer una tarea",
          description:
            "En esta fase es necesario hacer todos los puntos que la tarea propone, además de realizarlo correctamente.",
        },
        {
          title: "Hacer un avión de papel",
          description:
            "Se pone en práctica la técnica que se escogió, se llevan a cabo los pasos para esta.",
        },
      ],
    },
    {
      step: "Controlar",
      title: "Controlar",
      text: "Durante esta etapa es esencial la acción experencial e investigadora pasa a ocupar un lugar prioritario. Se ejercita y analiza la acción creativa, autonoma y responsable. Aquí se empieza a notar que tan efectivas y realistas fueron las primeras tres fases, se da retroalimentación tanto individual como grupal para poder seguir mejorando durante esta fase. Aquí es esencial la realización autonoma del trabajo, sin dejar de lado que los aluimnos no se deben sentir solos.",
      tools: [{photo:Basecamp, link:"basecamp.com"}, {photo:GoogleAnalytics, link:"analytics.google.com"}, {photo:Jenkins, link:"jenkins.io"}],
      examples: [
        {
          title: "Hacer unas pastas",
          description:
            "En caso de que las pastas no hayan quedado como se esperaba se realiza un control para ver si aún es posible cambiar el rumbo.",
        },
        {
          title: "Pintar una pared",
          description:
            "Revisar si la pared está bien pintada, en caso de necesitar una repasada porque no luce como se quiere darla como un control de calidad.",
        },
      ],
    },
    {
      step: "Valorar",
      title: "Valorar",
      text: "En esta fase se lleva a cabo una discusión final en la que el formador y los alumnos comentan los resultados obtenidos. Aquí el formador facilita una retroalimentación a todos los estudiantes, no solo sobre el producto final sino sobre el proceso que se ha venido llevando, aquí es esencial recalcar todo el proceso incluyendo los errores, éxitos, rendimiento y procesos grupales. Seguidamente es esencial el plantear los posibles puntos de mejora tanto individuales como grupales ",
      tools: [{photo:GoogleForms, link:"docs.google.com/forms"}],
      examples: [
        {
          title: "Construir una casa",
          description:
            "Hacer una evaluación de como se llevo a cabo el proceso y como el resultado era lo que se esperaba o si tuvo cambios. Evaluar si luce bien y funcional o si es necesario tomar otros métodos.",
        },
        {
          title: "Hacer un examen",
          description:
            "Valorar toda la lógica que se aplicó durante el examen y si esta fue ejecutada de buena manera. Seguidamente evaluar los métodos de estudio y ver si estos fueron realmente efectivos para el examen.",
        },
      ],
    },
  ];
  return pages.map(({ step, title, text, tools, examples }) => {
    return {
      params: { step },
      props: { title, text, tools, examples },
    };
  });
}
const { title, text, tools, examples } = Astro.props;
---

<Layout>
  <Sectionhead>
    <Fragment slot="title">{title}</Fragment>
    <Fragment slot="tools"></Fragment>
    <Fragment slot="desc">{text}</Fragment>
  </Sectionhead>
  <h2
    class="flex justify-center text-center font-bold text-2xl mb-6 text-[#ff8000]">
    Herramientas recomendadas
  </h2>
  <ul class="flex justify-center gap-4 mb-6">
    {
      tools.map((tool, index) => (
        <a class=" hover:scale-110 transition-all" href={tool.link}>
        <li class="rounded-full ">
          <img src={tool.photo} alt="" />
        </li>
      </a>
      ))
    }
  </ul>
  <Modal examples={examples} client:only="react" />
</Layout>
